/* Generic settings */
body {
    font-family: "Source Sans Pro";
    padding: 1%;
    color: #2e3440;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro-v13-latin-300.woff2") format("woff2"),
         url("../fonts/source-sans-pro-v13-latin-300.woff") format("woff"),
         url("../fonts/source-sans-pro-v13-latin-300.ttf") format("truetype");
    font-display: swap;
}

::-moz-selection {
    background: #81a1c1;
}

::selection {
    background: #81a1c1;
}

main {
    margin-left: 250px;
    padding: 0 25px 0 25px;
    font-size: 18px;
}

a {
    outline: none;
    color: inherit;
}

td {
    padding-right: 30px;
    padding-bottom: 0;
}

details > summary {
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-weight: bold;
}

details {
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
}

details > div {
    margin: 5px 0 25px 30px;
}

.content_separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(46, 52, 64, 0.75), rgba(0, 0, 0, 0));
}

.menu {
    background-color: #2e3440;
    color: #eceff4;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 25px;
    top: 0;
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu img {
    border-radius: 100%;
    border: 5px solid;
    border-color: #eceff4;
}

.menu a {
    font-size: 18px;
    font-weight: bold;
}

.menu_links {
    width: 100%;
}

.menu_links a {
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu_links a:hover, a.active {
    background-color: #434c5e;
}

.image_li {
    padding: 0;
    list-style: none;
}

.image_li ul li, img {
    vertical-align: middle;
}

.image_li b {
    margin-left: 15px;
}

.sec_content {
    margin-left: 25px;
}

#menu_separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(236, 239, 244, 0.75), rgba(0, 0, 0, 0));
}

#made_by {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    bottom: 0;
}

/* index.html */
#about h1 {
    font-size: 34px;
}

#social_media {
    list-style-type: none;
    padding: 0;
}

#social_media li {
    display: inline;
    margin-left: 5px;
}

/* files.html */
.file_link {
    margin-bottom: 15px;
}

.file_link a {
    text-decoration: none;
}

.file_link a:hover {
    text-decoration: underline;
}

/* projects.html */

.ghrepo {
    display: inline-block;
    border: 1px solid #d8dee9;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: 80px;
    margin-bottom: 4px;
}

.ghrepo:hover h3 {
    text-decoration: underline;
}

.ghrepo h3 {
    margin: 0;
}

.ghrepo span {
    float: right;
}
