/* Generic settings */

html {
    scrollbar-color: #434c5e #242933;
}

body {
    font-family: "Source Sans Pro";
    padding: 1%;
    color: #e5e9f0;
    background-color: #2e3440;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro-v13-latin-300.woff2") format("woff2"),
         url("../fonts/source-sans-pro-v13-latin-300.woff") format("woff"),
         url("../fonts/source-sans-pro-v13-latin-300.ttf") format("truetype");
    font-display: swap;
}

::-moz-selection {
    background: #434c5e;
}

::selection {
    background: #434c5e;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track-piece {
    background-color: #242933;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #434c5e;
}

main {
    margin-left: 310px;
    padding: 0 25px 0 25px;
    font-size: 18px;
}

a {
    outline: none;
    color: inherit;
}

td {
    padding-right: 30px;
    padding-bottom: 0;
}

details > summary {
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-weight: bold;
}

details {
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
}

details > div {
    margin: 5px 0 25px 30px;
}

.menu {
    background-color: #242933;
    position: fixed;
    width: 320px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 50px;
    top: 0;
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu a {
    font-size: 18px;
    font-weight: bold;
}

.menu_links {
    width: 100%;
    padding-top: 25px;
    text-align: center;
}

.menu_links a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5%;
    transition: color .35s, background .35s;
    text-decoration: none;
}

.sm_links {
    padding-top: 50px;
}

.menu_links a:hover, a.active {
    background-color: #434c5e;
}

.image_li {
    padding: 0;
    list-style: none;
}

.image_li ul li, img {
    vertical-align: middle;
}

.image_li b {
    margin-left: 15px;
}

.sec_content {
    margin-left: 25px;
}

#profilepic {
    border-radius: 100%;
    border: 5px solid;
    border-color: #eceff4;
}

#made_by {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    bottom: 0;
}

/* index.html */
#about h1 {
    font-size: 34px;
}

#social_media {
    list-style-type: none;
    text-align: center;
}

#social_media li {
    display: inline;
}

#social_media li:not(:first-child) {
    margin-left: 20px;
}

/* files.html */
.file_link {
    margin-bottom: 15px;
}

.file_link a {
    text-decoration: none;
}

.file_link a:hover {
    text-decoration: underline;
}

/* projects.html */

.ghrepo {
    display: inline-block;
    background-color: #434c5e;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 8px;
    transition: background .35s;
}

.ghrepo:hover {
    background-color: #242933;
}

.ghrepo:hover h3 {
    text-decoration: underline;
}

.ghrepo h3 {
    margin: 0;
}

.ghrepo span {
    float: right;
}
